<foreach name="list" item="vo" key="index">
    <?php
    $ins  = $index + 1;
    $ttId = $tt_id ? $tt_id . '-' . $ins : $ins;
    ?>
    <tr class="level-{$level}" data-tt-id="{$ttId}" data-tt-parent-id="{$tt_id}">
        <td class="table-nowrap">{$vo.key}</td>
        <td class="text-center table-nowrap">{$vo.type}</td>
        <td><?=\BusyPHP\apidoc\ApiDoc::parseToMarkdownHtml($vo['data']['title']);?></td>
    </tr>
    <notempty name="vo.data.structure">
        <?=\BusyPHP\apidoc\ApiDoc::renderTree($vo['data']['structure'], $level + 1, $ttId);?>
    </notempty>
</foreach>